<!DOCTYPE html>
<html>

  <%- include('./layout/head.ejs'); %>
  <body>
    <%- include('./layout/header.ejs'); %>
    <div class="main-container">
      <%- include('./layout/sidebar.ejs'); %>

      <div class="container-fluid room-wrapper">
        <div class="row">
          <div class="col-12">
            <div class='chat-container'>
              <div>
                <h4>Welcome back!!!</h4>
                <div class='msg-container'>
                  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="page-tab-1" data-toggle="tab" href="#page1" role="tab" aria-controls="page1" aria-selected="true">Page 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#page2" role="tab" aria-controls="page2" aria-selected="false">Page 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#page3" role="tab" aria-controls="page3" aria-selected="false">Page 3</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="page1" data-role="msg-container" data-type="currnet" role="tabpanel" aria-labelledby="page1"></div>
                    <div class="tab-pane fade" id="page2" role="tabpanel" aria-labelledby="page2">Page 2 </div>
                    <div class="tab-pane fade" id="page3" role="tabpanel" aria-labelledby="page3">Page 1 </div>
                  </div> -->
                </div>
                <div class="msg">
                  <p><i>Name</i></p>
                  <h5>msg</h5>
                </div>
              </div>
            </div>
            <div class="form-container">
              <form id="chatMessForm">
                <input type="text" id="chatMess" name="message" placeholder="Enter new message">
              </form>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>

  </body>
</html>
