<!DOCTYPE html>
<html>

  <%- include('./layout/head.ejs'); %>
  <body>
    <%- include('./layout/header.ejs'); %>
    <div class="main-container">
      <%- include('./layout/sidebar.ejs'); %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class='signIn-container'>
              <div>
                <h4>Hello Stranger!!!</h4>
                <div class="signin-form-holder">
                  <input type="text" placeholder="Inter your name">
                </div>
              </div>
            </div> 
          </div>
        </div>
  
      </div>
    </div>

  </body>
</html>
