<!DOCTYPE html>
<html>

  <%- include('./layout/head.ejs'); %>
  <body>
    <%- include('./layout/header.ejs'); %>
    <div class="main-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class='signIn-container'>
                <h4>Hello Stranger!!! Let us know who you are</h4>
                <div class="signin-form-holder">
                  <form class="form-horizontal reg-form" name="reg-form">
                    <div class="form-group">
                      <label for="input-username" class="col-lg-2 control-label">Name</label>
                
                      <div class="col-lg-10">
                        <input name="username" type="text" class="form-control" id="input-username" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="input-password" class="col-lg-2 control-label">Password</label>
                
                      <div class="col-lg-10">
                        <input autocomplete="current-password" name="password" type="password" class="form-control" id="input-password" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Sign up</button>
                      </div>
                      <div class="help-block error">
                        <p>Name already exist</p>
                      </div>
                    </div>
                  </form>
              </div>
            </div> 
          </div>
        </div>
  
      </div>
    </div>

  </body>
</html>
