/** 
 * Main layout
 */
html,
body,
aside,
.main-container {
  height: 100%;
}
body {
  font-family: "Nunito";
}
nav .navbar {
  position: fixed;
  z-index: 900;
  box-shadow: 0px 8px 5px -4px lightgrey;
}
.navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 20px;
}
.main-container {
  display: flex;
}

/** 
 * Aside
 */
aside {
  width: 250px;
  height: 100%;
  min-height: 700px;
  padding: 75px 25px 25px 25px;
  background: #eee;
  box-shadow: -1px 0px 13px 1px lightgrey;
}
.aside-logo {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
}
.aside-logo img {
  width: 100%;
}
.aside-rooms-cont {
  display: flex;
  flex-direction: column;
  border-top: 2px solid gray;
  padding-top: 20px;
}
.aside-room {
  margin: 15px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  padding: 10px;
}

.aside-room.active {
  background: aliceblue;
  border-radius: 15px;
}
.aside-room:last-child {
  border-bottom: none;
}
.aside-room h4 {
  text-align: center;
  margin-bottom: 0;
}

/**
 * Room
 */

.room-wrapper {
  display: none;
  max-width: 80%;
  margin-top: 75px;
}

/** 
 * game container
 */
.greetings-container {
  display: flex;
  min-height: 100px;
  padding: 0 30px 0px 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.greetings-container h4 {
  width: 100%;
  text-align: center;
}

.person-container {
  height: 70vh;
  min-height: 400px;
  border-radius: 10px;
  background: green;
}
.person-container .card {
  width: 80%;
  margin-top: 20px;
  height: 50%;
  flex-direction: row;
  background: none;
}
.person-container .card img {
  width: 50%;
  height: 80%;
  max-height: 200px;
  margin: auto;
}
.person-container .card .card-body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person-container .main-player-holder {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.person-container .main-player-holder img {
  width: 50%;
  height: 30%;
}

.person-container .main-player-holder .letsPlay-holder {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}
.person-container .letsPlay-holder .lets-play-btn {
  display: none;
}
.person-container .letsPlay-holder .game-resault {
  display: none;
}
.person-container .main-player-holder .player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
.person-container .main-player-holder .player-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/**
 * Sign in
 */

.signIn-container {
  width: 60%;
  margin: 100px auto;
}
.signIn-container .help-block {
  display: none;
  padding-left: 15px;
  margin-top: 20px;
}
.signIn-container .help-block p {
  font-size: 20px;
  color: red;
}

span.red {
  color: red;
}
span.black {
  color: black;
}
