/** 
 * Main layout
 */
html, body, aside, .main-container{
  height: 100%;
}
body {
  font-family: 'Nunito';
}
nav .navbar{
  position: fixed;
  z-index: 900;
}
.main-container {
  margin-top: 56px;
  display: flex;
}


/** 
 * Aside
 */
aside {
  width: 250px;
  height:100%;
  padding: 25px 25px 25px 25px;
  background: #eee;
}
.aside-logo {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
}
.aside-logo img {
  width: 100%;
}
.aside-rooms-cont {
  display: flex;
  flex-direction: column;
  border-top: 2px solid gray;
  padding-top: 20px;
}
.aside-room {
  margin: 15px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  padding: 10px;
}

.aside-room.active {
  background: aliceblue;
  border-radius: 15px;
}
.aside-room:last-child {
  border-bottom: none;
}
.aside-room h4{
  text-align: center;
  margin-bottom: 0;
}

/**
 * Room
 */

.room-wrapper {
  display: none;
  max-width: 80%;
}


/** 
 * chat container
 */
.chat-container {
  position: relative;
  display: flex;
  min-height: 100px;
  padding: 0 30px 30px 30px;
  border: 2px solid purple;
  border-radius: 20px;
}
.chat-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
}
.chat-container div h4 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}
.msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.msg p {
  margin-bottom: 5px;
} 
.msg h5 {
  padding: 2px 15px;
  background: lightgreen;
  border-radius: 10px;
  color: white;
  border: 1px solid greenyellow;
} 

/** 
 * Form
 */
.form-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.form-container form{
  width: 80%;
}
.form-container input{
  width: 100%;
  border-radius: 10px;
  padding: 2px 10px;
  border: 1px solid gray;
}
.form-container input::placeholder{
  color: aqua;
  text-align: rigth;
}

/**
 * Sign in
 */

.signIn-container {
  width: 60%;
  margin: 50px auto;
}
.signIn-container .help-block{
  display: none;
  padding-left: 15px;
  margin-top: 20px;
}
.signIn-container .help-block p{
  font-size: 20px;
  color: red;
}