<aside>
  <div class="aside-logo">
    <img src="/images/logo.png" alt="user" />
  </div>
  <div class="aside-rooms-cont">
    <div class="aside-room" data-room="1">
      <h4>Room 1</h4>
    </div>
    <div class="aside-room" data-room="2">
      <h4>Room 2</h4>
    </div>
    <div class="aside-room" data-room="3">
      <h4>Room 3</h4>
    </div>
    <div class="aside-room" data-room="4">
      <h4>Room 4</h4>
    </div>
  </div>
</aside>
