<aside>
    <div class="aside-logo">
        <img src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" alt="user">
    </div>
    <div class="aside-rooms-cont">
        <div class="aside-room"> 
            <h4>Room 1</h4>
        </div>
        <div class="aside-room"> 
            <h4>Room 1</h4>
        </div>
        <div class="aside-room"> 
            <h4>Room 1</h4>
        </div>
        <div class="aside-room"> 
            <h4>Room 1</h4>
        </div>

    </div>
</aside>